node_modules
.DS_Store
dist
dist-ssr
dist.zip
dist.tar
dist.war
.nitro
.output
*-dist.zip
*-dist.tar
*-dist.war
coverage
*.local
**/.vitepress/cache
.cache
.turbo
.temp
dev-dist
.stylelintcache
yarn.lock
package-lock.json
.VSCodeCounter
**/backend-mock/data

# local env files
.env.local
.env.*.local
.eslintcache

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
vite.config.mts.*
vite.config.mjs.*
vite.config.js.*
vite.config.ts.*

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history

# docker
!/docker/development/docker-compose.yml
/docker/development/data/db/*
!/docker/development/data/db/.gitkeep
/docker/development/data/storage/*
!/docker/development/data/storage/.gitkeep

!/docker/production/docker-compose.yml
/docker/production/data/db/*
/docker/production/data/storage/*
!/docker/production/data/db/.gitkeep
!/docker/production/data/storage/.gitkeep
